h1 {
    text-align: center;
}

.correct {
    background-color:green;
}

.wrong {
    background-color: red;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 10% 10%;
}

.btn {
    background-color:blue;
    border: 1px solid coral;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color:green;
    color: black;
}

.btn.wrong {
    background-color: red;
}

.start-btn, .next-btn {
    font-size: 1,5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.question{
        display: flex;
        margin: auto;
    }
